<h1>All About Blocitoff</h1>
<p>Blocitoff allows you to easily create and update your to-do list. After you create an item on your list, you will have 7 days to complete it before it deletes itself from your list.</p>
<p>You can also view your friends' to-do lists when they join.</p>
