<div class="jumbotron">
	<div class="container">
		<h1 class="main-header">Blocitoff</h1>
		<p class="lead">A self-destructing to-do list.</p>
		<p>
			<% unless user_signed_in? %>
			    <%= link_to "Sign In", new_user_session_path %> or
			    <%= link_to "Sign Up", new_user_registration_path %> today!
			<% end %>
		</p>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="col-md-4 text-center info-pane">
			<i class="glyphicon glyphicon-flash"></i>
			<h2>Lightning fast</h2>
			<p>Blocitoff will have you completing you to-do list items faster than ever!</p>
		</div>
		<div class="col-md-4 text-center info-pane">
			<i class="glyphicon glyphicon-trash"></i>
			<h2>Eliminates old tasks</h2>
			<p>Blocitoff will automatically delete tasks that are older than 7 days.</p>
		</div>
		<div class="col-md-4 text-center info-pane">
			<i class="glyphicon glyphicon-time"></i>
			<h2>Greater efficiency</h2>
			<p>Since Blocitoff deletes old tasks, you'll be able to focus on what really matters.</p>
		</div>
	</div>
</div>