// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.to-do-list .glyphicon-ok {
	padding: 10px;
	font-size: 3rem;
	color: #fff;
}

.to-do-list .glyphicon-ok:hover {
	color: green;
}

.to-do-list .glyphicon-trash {
	font-size: 1.5rem;
}

.glyphicon:hover, .glyphicon:active, .glyphicon:focus {
	text-decoration: none;
}

.new-item-form {
	margin: 30px auto;
}

.completed h4{
	text-decoration: line-through;
}

.completed .glyphicon-ok {
	color: green;
}